.titleLogo::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 8.5%;
    width: 4px;
    height: 60px;
    background-color: rgb(72, 174, 221);
}


.responsiveText {
    color:  rgb(12, 170, 220);
  font-size: 2.5vw;
}

.responsiveLink {
color: rgb(202, 198, 198);
  text-decoration: none;
  font-size: 1.8vw;
}
.responsiveLink:hover {
    color: rgb(121, 117, 165);

    }
@media only screen and (max-width: 768px) {
  .responsiveText {
    font-size: 3.2vw;
  }

  .responsiveLink {
    text-decoration: none;
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 480px) {
  .responsiveText {
    font-size: 3.8vw;
  }

  .responsiveLink {
    font-size: 3.5vw;
  }
}
